In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [23]:
url = "https://www.mohfw.gov.in"

In [24]:
data = requests.get(url)
data

In [123]:
data_text = data.text
data_text = data_text.replace("<!--<tbody>","")
data_text = data_text.replace("<tr></tr>","")
data_record = BeautifulSoup(data_text,"html5lib")

In [211]:
data_record_table = data_record.find_all('table')

In [212]:
data_record_thead = data_record.find_all('tbody')
data_record_row = data_record_thead[0].find_all('tr')

In [208]:
covid_data1.empty
covid_data1 = pd.DataFrame(columns=["S_No","Active_Cases","Cured_Discharged_Migrated","Deaths","State "])
covid_data1

Empty DataFrame
Columns: [S_No, Active_Cases, Cured_Discharged_Migrated, Deaths, State ]
Index: []

In [209]:
for row in (data_record_row):
    col = row.find_all('td')
    if (col[0].text != ''):
        print(col)
        if (col!=[]):
            S_No = col[0].text
            Name_of_State = col[1].text
            Active_Cases = col[2].text
            Cured_Discharged_Migrated = col[3].text
            Deaths = col[4].text
            covid_data1 = covid_data1.append({"S_No":S_No,"Active_Cases":Active_Cases,"Cured_Discharged_Migrated":Cured_Discharged_Migrated,
                                              "Deaths":Deaths,"State":Name_of_State},ignore_index=True)

[<td>1</td>, <td>Andaman and Nicobar Islands</td>, <td>47</td>, <td>133</td>, <td>0</td>]
[<td>2</td>, <td>Andhra Pradesh</td>, <td>18159</td>, <td>19393</td>, <td>492</td>]
[<td>3</td>, <td>Arunachal Pradesh</td>, <td>387</td>, <td>153</td>, <td>3</td>]
[<td>4</td>, <td>Assam</td>, <td>6818</td>, <td>12888</td>, <td>48</td>]
[<td>5</td>, <td>Bihar</td>, <td>7549</td>, <td>14018</td>, <td>197</td>]
[<td>6</td>, <td>Chandigarh</td>, <td>164</td>, <td>476</td>, <td>11</td>]
[<td>7</td>, <td>Chhattisgarh</td>, <td>1260</td>, <td>3451</td>, <td>21</td>]
[<td>8</td>, <td>Dadra and Nagar Haveli and Daman and Diu</td>, <td>179</td>, <td>371</td>, <td>2</td>]
[<td>9</td>, <td>Delhi</td>, <td>17407</td>, <td>97693</td>, <td>3545</td>]
[<td>10</td>, <td>Goa</td>, <td>1272</td>, <td>1817</td>, <td>19</td>]
[<td>11</td>, <td>Gujarat</td>, <td>11289</td>, <td>32103</td>, <td>2089</td>]
[<td>12</td>, <td>Haryana</td>, <td>5495</td>, <td>18185</td>, <td>322</td>]
[<td>13</td>, <td>Himachal Pradesh</td>, <td>382</td>, <td>984</td>, <td>11</td>]
[<td>14</td>, <td>Jammu and Kashmir</td>, <td>5488</td>, <td>6446</td>, <td>222</td>]
[<td>15</td>, <td>Jharkhand</td>, <td>2069</td>, <td>2513</td>, <td>42</td>]
[<td>16</td>, <td>Karnataka</td>, <td>30661</td>, <td>19729</td>, <td>1032</td>]
[<td>17</td>, <td>Kerala</td>, <td>5376</td>, <td>4862</td>, <td>37</td>]
[<td>18</td>, <td>Ladakh</td>, <td>176</td>, <td>970</td>, <td>1</td>]
[<td>19</td>, <td>Madhya Pradesh</td>, <td>5562</td>, <td>14127</td>, <td>689</td>]
[<td>20</td>, <td>Maharashtra</td>, <td>114947</td>, <td>158140</td>, <td>11194</td>]
[<td>21</td>, <td>Manipur</td>, <td>635</td>, <td>1129</td>, <td>0</td>]
[<td>22</td>, <td>Meghalaya</td>, <td>309</td>, <td>66</td>, <td>2</td>]
[<td>23</td>, <td>Mizoram</td>, <td>112</td>, <td>160</td>, <td>0</td>]
[<td>24</td>, <td>Nagaland</td>, <td>525</td>, <td>391</td>, <td>0</td>]
[<td>25</td>, <td>Odisha</td>, <td>4436</td>, <td>10877</td>, <td>79</td>]
[<td>26</td>, <td>Puducherry</td>, <td>774</td>, <td>947</td>, <td>22</td>]
[<td>27</td>, <td>Punjab</td>, <td>2587</td>, <td>6277</td>, <td>230</td>]
[<td>28</td>, <td>Rajasthan</td>, <td>6666</td>, <td>19970</td>, <td>538</td>]
[<td>29</td>, <td>Sikkim</td>, <td>155</td>, <td>88</td>, <td>0</td>]
[<td>30</td>, <td>Tamil Nadu</td>, <td>46717</td>, <td>107416</td>, <td>2236</td>]
[<td>31</td>, <td>Telangana</td>, <td>13327</td>, <td>27295</td>, <td>396</td>]
[<td>32</td>, <td>Tripura</td>, <td>676</td>, <td>1604</td>, <td>3</td>]
[<td>33</td>, <td>Uttarakhand</td>, <td>937</td>, <td>2995</td>, <td>50</td>]
[<td>34</td>, <td>Uttar Pradesh</td>, <td>15720</td>, <td>26675</td>, <td>1046</td>]
[<td>35</td>, <td>West Bengal</td>, <td>13679</td>, <td>21415</td>, <td>1023</td>]

In [210]:
covid_data1

,S_No,Active_Cases,Cured_Discharged_Migrated,Deaths,State,State
0,1,47,133,0,NaN,Andaman and Nicobar Islands
1,2,18159,19393,492,NaN,Andhra Pradesh
2,3,387,153,3,NaN,Arunachal Pradesh
3,4,6818,12888,48,NaN,Assam
4,5,7549,14018,197,NaN,Bihar
5,6,164,476,11,NaN,Chandigarh
6,7,1260,3451,21,NaN,Chhattisgarh
7,8,179,371,2,NaN,Dadra and Nagar Haveli and Daman and Diu
8,9,17407,97693,3545,NaN,Delhi
9,10,1272,1817,19,NaN,Goa
10,11,11289,32103,2089,NaN,Gujarat
11,12,5495,18185,322,NaN,Haryana
12,13,382,984,11,NaN,Himachal Pradesh
13,14,5488,6446,222,NaN,Jammu and Kashmir
14,15,2069,2513,42,NaN,Jharkhand
15,16,30661,19729,1032,NaN,Karnataka
16,17,5376,4862,37,NaN,Kerala
17,18,176,970,1,NaN,Ladakh
18,19,5562,14127,689,NaN,Madhya Pradesh
19,20,114947,158140,11194,NaN,Maharashtra
20,21,635,1129,0,NaN,Manipur
21,22,309,66,2,NaN,Meghalaya
22,23,112,160,0,NaN,Mizoram
23,24,525,391,0,NaN,Nagaland
24,25,4436,10877,79,NaN,Odisha
25,26,774,947,22,NaN,Puducherry
26,27,2587,6277,230,NaN,Punjab
27,28,6666,19970,538,NaN,Rajasthan
28,29,155,88,0,NaN,Sikkim
29,30,46717,107416,2236,NaN,Tamil Nadu
30,31,13327,27295,396,NaN,Telangana
31,32,676,1604,3,NaN,Tripura
32,33,937,2995,50,NaN,Uttarakhand
33,34,15720,26675,1046,NaN,Uttar Pradesh
34,35,13679,21415,1023,NaN,West Bengal

In [199]:
covid_data1.columns

Index(['S_No', 'Name_of_State ', 'Active_Cases', 'Cured_Discharged_Migrated',
       'Deaths', 'Name_of_State'],
      dtype='object')